/******************************************************************************
 * Content
 ******************************************************************************/

@use "variables" as v;

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  padding-top: 0;
}

body.sticky-bottom-footer {
  padding-bottom: 0;
}

.main-content .container,
.container {
  max-width: none !important;
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

/******************************************************************************
 * Publications
 ******************************************************************************/

// Publications layout is defined in _includes/bib_search.liquid

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
